body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.links button {
  background: none;
  border: none;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
}

.links button:hover {
  opacity: 1;
}

#search-input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #222;
  color: white;
  display: none;
}

.content {
  padding: 100px 20px 120px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background: #181818;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  background: #282828;
}

.thumbnail {
  width: 100%;
  height: 140px;
  background: #333;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 10px;
}


.player {
  width: 100%;
  height: 80px;
  background: #111;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid #333;
  justify-content: space-between;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-thumb {
  width: 50px;
  height: 50px;
  background: #333;
  background-size: cover;
  border-radius: 8px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 0 10px;
}
