:root {
  --bg-color: #000;
  --text-color: #fff;
}

.light {
  --bg-color: #fff;
  --text-color: #001;
}

body { 
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}


.navbar {
  width: 100%;
  height: 60px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 10px white;
  backdrop-filter: blur(8px);
  
}


.links button {
  background: none;
  border: none;
  color: var(--text-color);
  margin:0 2rem;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
}

.links button:hover {
  opacity: 1;
}

#search-input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  outline: none;
  background: var(--bg-color);
  color: var(--text-color);
  display: none;
}

.content {
  padding: 100px 20px 120px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background: var(--bg-color);
  padding: 15px;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  cursor: pointer;
  transition: box-shadow 0.6s ease, transform 0.2s ease;
  box-shadow: 0 0 0 rgba(255,255,255,0);
  
}


.card:hover {
  transform: translateY(-4px);
  background: var(--bg-color);
  box-shadow: 0 0 25px rgba(255, 255, 255, 1);
}

.thumbnail {
  width: 100%;
  height: 140px;
  background: var(--bg-color);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 10px;
}


.player {
  width: 100%;
  height: 80px;
  background: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid #333;
  justify-content: space-between;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-thumb {
  width: 50px;
  height: 50px;
  background: var(--bg-color);
  background-size: cover;
  border-radius: 8px;
}

.controls button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  margin: 0 10px;
}


#themeToggle {
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 999;
    transition: 0.3s ease;
    background-color: rgba(127, 86, 98, 0.35);
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

#themeToggle:hover {
    background-color: rgba(244, 0, 69, 0.764);
}

body.theme-blur {
    filter: blur(2px);
    transition: filter 0.4s ease;
}


body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.theme-toggle {
  background: var(--text-color);
  color: var(--bg-color);
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}
#waveform{
  height: 100%;
  width: 50%;
  scale: 0.91;
  margin-top: 20px;
  cursor: pointer;
}

.theme-toggle:hover {
  opacity: 0.8;
}

footer{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
