* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg,
    #47d1ff 0%,
    #5a71ff 30%,
    #9247ff 60%,
    #ff4bb5 100%
);
  padding: 20px;
}

.header {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.player-box {
  width: 380px;
  background: linear-gradient(135deg,
    #7fe2ff 0%,
    #8f82ff 50%,
    #ff7ed1 100%
);
border-radius: 16px;;
  padding: 20px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.controls button {
  background: #4a90e2;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.controls button:hover {
  background: #357ab8;
}

.seek-bar {
  width: 100%;
  margin-bottom: 15px;
}

.volume {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playlist {
  width: 380px;
  background: linear-gradient(135deg,
    #7fe2ff 0%,
    #8f82ff 50%,
    #ff7ed1 100%
);
border-radius: 16px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.playlist h2 {
  margin-bottom: 10px;
}

.playlist ul {
  list-style: none;
}

.playlist li {
  padding: 10px;
  margin-bottom: 5px;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.playlist li:hover {
  background: #ddd;
}